
    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    body {
      font-family: Arial, sans-serif;
      background-color: #fff;
      /* position: relative;
      right: 154px; */
     
    }

    .container {
      max-width: 1200px;
      margin: 0px auto;
    }

    .header {
      background-color: #fff;
      color: white;
      padding: 20px;
    }

    .header h1 {
      font-size: 36px;
      color: #66BFBF;
      /* position: relative;
      right:190px; */
      
    }

    .nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #fff;
      padding: 10px;
      border-bottom: solid;
      border-color: #66BFBF;
    }

    .nav a {
      color: #66BFBF;
      text-decoration: none;
      padding: 5px;
      transition: background-color 0.5s;
      /* border-radius: 0%; */ 
    }

    .nav a:hover {
      /* background-color: #66BFBF; */
      color: #000;
    }

    .main {
      display: flex;
      flex-wrap: wrap;
      margin: 20px;
    }

    .main .card {
      width: 267px;
      margin: 5px;
      height: 394px;
      border: 1px solid #66BFBF;
      box-shadow: 2px 2px 3px 3px rgba(0,0,0,0.1);
      background-color: #fff;
    }

    .main .card img {
      /* width: 266px; */
      height: 265px;
      object-fit: cover;
      
    }
    .main .card img:hover{
      background-color: #66BFBF;
    }

    .main .card h3 {
      font-size: 24px;
      padding: 10px;
      color: #66BFBF;
    }

    .main .card p {
      font-size: 16px;
      padding: 10px;
      color: #000;
    }

    .main .card a {
      display: block;
      background-color: #66BFBF;
      color: white;
      text-align:center;
      padding: 10px;
      text-decoration: none;
      color: #fff;
      transition: 0.5s;
    }

    .main .card a:hover {
      background-color: #fff;
      color: #66BFBF;
    }

    .footer {
      background-color: #333;
      color: #66BFBF;
      padding: 20px;
    }
    .contact .form{

    background-color: #fff;
    color: #fff;
    border-color: #66BFBF;
    margin-top: 12px;
   
    }
    .contact{
      /* display: flex; */
      margin-top: 73px;
      width: 279px;
      height: 131px;
   
    }
    .contact .name{
      margin-top: 1px;
      height: 69px;
    }
    .contact .text{
      background-color: #fff;
      color: #fff;
      border-color: #66BFBF;
      height: 105px;
      margin-left: 180px;
      margin-top: -57px;
      margin-bottom: -12px;
      
    }
    .contact .submit{
      background-color: #66BFBF;
      color: #fff;
      padding: 2%;
      margin-left: 55px;
      border-color: #fff;
      
  
    }
    .contact .submit:hover{
      background-color: #fff;
      color: #66BFBF;
      
    }